@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500&display=swap');


body{
    display: flex;
    flex-wrap:wrap;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(250, 182, 179);
}